<div class="container">
    <div class="navbar">
        <div class="col">
            <a class="link-home" href="#">Home</a>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <form class="d-flex form-inline" role="search">
                    <input
                        class="form-control"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    />
                    <button
                        class="btn btn-outline-success"
                        type="submit"
                    >Search</button>
                </form>
            </div>
        </div>
    </div>
</div>